* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Light.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Medium.woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-DemiBold.woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Bold.woff');
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'TT Lakes', "Arial", sans-serif;
    background-color: #F8F8F8;
}

html,
body {
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
    padding: 0 16px;
    background-color: white;
}

.header__right {
    display: flex;
    margin-left: auto;
    gap: 16px;
    align-items: center;
}

.header__left {
    display: flex;
    margin-right: auto;
    gap: 16px;
    align-items: center;
}

.logo {
    width: auto;
    flex-grow: 1;
}

.title {
    margin-left: 30px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'TT Lakes', "Arial", sans-serif;
}

.navigation__buttons {
    display: inline-block;
    width: auto;
    height: 40px;
    white-space: nowrap;
    background-color: #F8F8F8;
    border: none;
    padding: 8px 9px 8px 16px;
    color: #7E7E82;
    font-family: 'TT Lakes', "Arial", sans-serif;
}

.about-company__more {
    background-image: url(images/expand.svg);
    background-repeat: no-repeat;
    background-color: #F8F8F8;
    text-decoration: none;
    color: black;
    margin: 14px 172px 14px 9px;
    background-position: -2px -1px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    min-width: 132px;
    min-height: 24px;
    text-align: right;
    padding: 4px 0;
}

.about-company__first-p {
    margin-top: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
    .title-container {
        padding: 24px 16px 24px 0px;
        background-image: url(images/highlight.svg);
        background-repeat: no-repeat;
        background-size: 3px 30px;
        background-position: 0;
        text-align: left;
    }
    .navigation {
        padding-left: 16px;
        display: flex;
        overflow: scroll;
    }
    .about-company__first-p {
        padding: 24px 16px 0 16px;
        margin: 0;
        color: black;
        font-weight: 400;
        font-size: 14px;
    }
    .brands {
        display: none;
    }
    .devices {
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        display: inline-block;
        width: auto;
        height: auto;
        background-color: white;
    }
    .header__left>.header__stick {
        display: none;
    }
    .header__call,
    .header__chat,
    .header__profile {
        display: none;
    }
    .about-company__more {
        margin-right: 600px;
    }
    .about-company__image {
        width: 100%;
        height: 55vw;
    }
    .about-company__second-p {
        display: none;
    }
    .about-company__second-p-full {
        display: none;
    }
    .title-container__sidebar {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1119px) {
    .title-container {
        padding: 24px 16px 24px 0px;
        background-image: url(images/highlight.svg);
        background-repeat: no-repeat;
        background-size: 3px 30px;
        background-position: 0;
        text-align: left;
    }
    .about-company__description {
        width: 312px;
        height: 160px;
        display: block;
        font-size: 14px;
        line-height: 20px;
        padding-left: 24px;
    }
    .about-company__second-p {
        margin-bottom: 0;
    }
    .about-company {
        display: flex;
        padding: 32px 25px 40px 24px;
    }
    .brands {
        display: none;
    }
    .devices {
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        display: inline-block;
        width: auto;
        height: auto;
        background-color: white;
    }
    .about-company__image-container {
        margin-left: auto;
    }
    .about-company__image {
        width: 360px;
        height: 208px;
        border-radius: 7px;
    }
    .navigation {
        padding-left: 24px;
        display: flex;
        overflow: scroll;
    }
    .about-company__second-p-full {
        display: none;
    }
    .title-container__sidebar {
        display: none;
    }
}

@media (min-width: 1120px) {
    .header {
        display: none;
    }
    .title-container {
        display: flex;
        padding: 24px 16px 24px 0px;
        background-image: url(images/highlight2.svg);
        background-repeat: no-repeat;
        background-size: 3px 30px;
        background-position: 0 28px;
        text-align: left;
    }
    .title-container__sidebar {
        margin-left: auto;
    }
    .navigation {
        display: flex;
        padding: 0 35px 0 33px;
        flex-wrap: wrap;
    }
    .brands {
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        display: inline-block;
        width: auto;
        height: auto;
        background-color: white;
    }
    .about-company__second-p {
        display: none;
    }
    .about-company__description {
        font-size: 14px;
        width: 490px;
        height: 198px;
        padding: 20px 36px 0 34px;
    }
    .about-company {
        display: flex;
    }
    .about-company__image-container {
        margin-left: auto;
        padding: 20px 28px 38px 0;
    }
    .about-company__image {
        width: 531px;
        height: 306px;
        border-radius: 7px;
    }
    .title-container__sidebar {
        display: flex;
        font-weight: 500;
    }
    .title-container__submit-application,
    .title-container__chech-status {
        padding-right: 80px;
        background-repeat: no-repeat;
        background-position: 133px 0px;
        align-items: center;
        border: none;
        background-color: #F8F8F8;
        font-weight: 500;
        font-family: 'TT Lakes', "Arial", sans-serif;
        font-size: 16px;
        height: 40px;
    }
    .title-container__submit-application {
        background-image: url(images/repair.svg);
    }
    .title-container__chech-status {
        background-image: url(images/checkstatus.svg);
    }
}